*{
    box-sizing: border-box;
}

fieldset{
    /*reset normalize-css styles*/
    border: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: #3b8be4;
}

header img {
    height: 35px;
    display: block;
    margin: 250px auto 0 auto;
}

.signup-card{
    width: 400px;
    background-color: white;
    margin: 0 auto 0 auto;
    padding: 0 40px 0 40px;
    border-radius: 3px;
}

input, button {
    width: 320px;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 3px;
}

button {
    height: 55px;
}